#!/usr/bin/env ruby

compile '/**/*.html' do
  layout item[:layout] || '/default.*'
end

route '/**/*.{html,md}' do
  #if item.identifier =~ '/index.*'
  #  '/index.html'
  #else
  #  item.identifier.without_ext + '/index.html'
  #end
  item.identifier.to_s
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
