@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic);

body {
  background-color: #fff;
  color: #222;
  font: 14px 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  color: #4aa;
  font-weight: 400;
  text-decoration: none;
}

a:hover, a:active {
  color: #28a;
}

nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-size: 1.25em;
  align-items: top;
  margin: 0 auto;
  padding: 1em;
}

nav section {
  flex: 1 1;
  margin-right: 1em;
}

nav section h4 {
  font-weight: 300;
  margin: 0.5em auto;
  text-transform: uppercase;
}

nav section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #eee;
  box-sizing: border-box;
  color: #333;
  margin: 8em auto 0;
  padding: 4em 0 2em;
}

@media(min-width: 720px) {
  nav {
    width: 720px;
  }
}

@media(max-width: 320px) {
  body {
    font-size: 12px;
  }
}

