<nav>
  <section>
    <h4>Documentation</h4>
    <ul>
      <li><a href="/intro">Introduction</a></li>
      <li><a href="/overview">Overview</a></li>
      <li><a href="/security">Security</a></li>
      <li><a href="/privacy">Privacy</a></li>
      <li><a href="https://github.com/jerluc/rift-exchange">Code</a></li>
    </ul>
  </section>
  <section>
    <h4>Community</h4>
    <ul>
      <li><a href="http://groups.google.com/group/rift-xch/">Discussion group</a></li>
      <li><a href="irc://chat.freenode.net/#rift-xch">IRC channel</a></li>
      <li><a href="/contributing">Contributing</a></li>
    </ul>
  </section>
</nav>
