@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic);

body {
  background-color: #fff;
  color: #222;
  font: 14px 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  color: #4aa;
  font-weight: 400;
  text-decoration: none;
}

a:hover, a:active {
  color: #28a;
}

@media(max-width: 320px) {
  body {
    font-size: 12px;
  }
}

