header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

header details {
  width: 100%;
}

header details[open] summary {
  background-color: #222;
}

header summary {
  background-color: #66bbbb;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 0.5em;
  text-align: right;
  -webkit-tap-highlight-color: transparent;
}

header summary::-webkit-details-marker {
  display: none;
}

header h1 {
  float: left;
  margin: 0;
  margin-left: 0.1em;
  padding: 0;
}

header h1 img {
  height: 2em;
}

header details[open] {
  width: 100%;
}

header nav {
  background-color: #222;
  color: #eee;
  margin-top: -1px;
}

main {
  box-sizing: border-box;
  font-size: 1.5em;
  margin: 0 auto;
  padding: 0 1em;
  padding-top: 4em;
  text-align: left;
}

mark {
  font-weight: 400;
}

figure img {
  width: 100%;
}

figcaption {
  color: #888;
  font-style: italic;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  display: block;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger-box {
  width: 3em;
  height: 4em;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 2.5em;
  height: 0.15em;
  background-color: #fff;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}


/*
 * Squeeze
 */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.1s 0.14s ease, opacity 0.1s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze[open] .hamburger-inner {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze[open] .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}
.hamburger--squeeze[open] .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

header nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-size: 1.25em;
  align-items: top;
  margin: 0 auto;
  padding: 1em;
}

header nav section {
  flex: 1 1;
  margin-right: 1em;
}

header nav section h4 {
  font-weight: 300;
  margin: 0.5em auto;
  text-transform: uppercase;
}

header nav section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main section:before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 0;
  padding-top: 4em;
  margin-top: -4em;
}

#toc {
  list-style-type: none;
  padding: 0;
}

#toc ol, #toc ol ol {
  padding-left: 1em;
}

main h2 {
  font-size: 2em;
  font-weight: 400;
}

main h3 {
  font-size: 1.2em;
  font-weight: 400;
}

main h4 {
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
}

main p {
  line-height: 1.5em;
  margin-top: 0.25em;
}

footer {
  background-color: #eee;
  box-sizing: border-box;
  color: #333;
  display: block;
  margin: 8em auto 0;
  padding: 0;
}

footer section {
  align-items: center;
  display: flex;
  margin: 0 auto;
}

footer section aside {
  flex: 1 1;
  font-size: 1.5em;
  padding: 0.5em;
}

footer section aside:last-child {
  text-align: right;
}

@media(min-width: 1024px) {
  header nav {
    float: right;
    width: 480px;
  }

  main, footer section {
    width: 900px;
  }
}

